{% extends 'base.html' %}
{% load static %}
{% block title %}
Login2
{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h2 style="color:gray">用户登陆</h2>
    {% if form.errors %}
    <p style="color:red;">输入的用户名或密码错误,请重试</p>
    {% endif %}
    <form class="form-horizontal" action="{% url 'account:user_login' %}"  method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color:blue">
                <span class="glyphicon glyphicon-user"></span>
                用户名:
            </label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color:blue">
                <span class="glyphicon glyphicon-floppy-open"></span>
                密&nbsp;&nbsp;&nbsp;码:
            </label>
            <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>
        <br>
        <p>没有帐号?请<a href="{% url 'account:user_register' %}">注册</a></p>
        <br>
        <input type="submit" class="btn btn-primary btn-lg" value="登&nbsp;陆">
    </form>
</div>
{% endblock %}