{% load static %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'blog:blog_title' %}"><img src="{% static 'images/logo.png' %}"
                                                                            width="30px" height="30px"></a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'blog:blog_title' %}">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                {% if user.is_authenticated %}
                <div class="dropdown" style="margin-top:8px;">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
                        {{ user.username }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account:myself' %}">个人信息</a></li>
                        <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                        <li><a href="{% url 'account:user_logout' %}">退出登陆</a></li>
                    </ul>
                </div>

                {% else %}
                <li><a style="color:red" href="{% url 'account:user_login' %}">登陆</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>